/*
  ##Device = Desktops HiDPI screen
  ##Screen = 1440px to higher resolution desktops
*/
@media (min-width: 1440px) {
    .average button {
        font-size: 100%;
    }

    .reviews .rate i {
        font-size: 100%;
    }

    .tagline .quote-container {
        padding-left: 22rem;
    }

    .tagline blockquote {
        font-size: 23px;
    }

    ul.typeahead {
        width: 95%;
    }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to 1439px
*/
@media (min-width: 1281px) and (max-width: 1439px) {
    .average button {
        font-size: 100%;
    }

    .reviews .rate i {
        font-size: 100%;
    }

    .tagline .quote-container {
        padding-left: 22rem;
    }

    .tagline blockquote {
        font-size: 23px;
    }

    ul.typeahead {
        width: 95%;
    }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    .average button {
        font-size: 100%;
    }

    .reviews .rate i {
        font-size: 100%;
    }

    .tagline .quote-container {
        padding-left: 22rem;
    }

    .tagline blockquote {
        font-size: 23px;
    }

    ul.typeahead {
        width: 95%;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .average button {
        font-size: 70%;
    }

    .reviews .rate i {
        font-size: 68%;
    }

    .tagline .quote-container {
        padding-left: 0;
    }

    .tagline blockquote {
        font-size: 23px;
    }

    ul.typeahead {
        width: 92.5%;
    }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .average button {
        font-size: 70%;
    }

    .reviews .rate i {
        font-size: 59%;
    }

    .tagline .quote-container {
        padding-left: 33rem;
    }

    .tagline blockquote {
        font-size: 23px;
    }

    ul.typeahead {
        width: 92.5%;
    }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    .average button {
        font-size: 100%;
    }

    .reviews .rate i {
        font-size: 59%;
    }

    .tagline .quote-container {
        padding-left: 0;
    }

    .tagline blockquote {
        font-size: 23px;
    }

    ul.typeahead {
        width: 92.5%;
    }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    .average button {
        font-size: 100%;
    }

    .reviews .rate i {
        font-size: 48%;
    }

    .tagline .quote-container {
        padding-left: 0;
    }

    .tagline blockquote {
        font-size: 19px;
    }

    ul.typeahead {
        width: 92.5%;
    }
}