.msform {
    margin: 0 auto;
    position: relative;
    /*width: 75%;*/
}

.msform .dropdown-menu > .active > a {
    background-color: #592f83;
}

.msform a {
    text-decoration: none;
}

.msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    margin: 0 10%;
    position: relative;
}

.msform fieldset:not(:first-of-type) {
    display: none;
}

.msform input, .msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}

.msform .next:not(:first-of-type), .msform .submit {
    float: right;
}

.msform .previous {
    float: left;
}

.msform .btn-upload {
    width: 100%;
    margin: 10px auto;
    padding: 10px 5px;
    cursor: pointer;
    color: #fff;
    background: #592f83;
    border: 0 none;
    border-radius: 4px;
    border-bottom: 4px solid #312855;
    outline: none;
    text-transform: none;
    font-weight: 600;
    font-size: 16px;
    transition: all .2s ease;
}

.msform .btn-upload:hover {
    background: #402E69;
    transition: all .2s ease;
}

.msform .btn-upload:active {
    border: 0;
    transition: all .2s ease;
}

.msform .action-button {
    width: auto;
    background: #592f83;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 2px;
    cursor: pointer;
    padding: 7px 15px;
    margin: 10px auto;
    text-transform: uppercase;
}

.msform .action-button:hover, .msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #592f83;
}

.fs-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #592f83;
    margin-top: 1rem;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}

#progressbar {
    margin-bottom: 30px;
    padding-left: 0;
    overflow: hidden;
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #8f989f;
    text-transform: uppercase;
    font-size: 12px;
    width: 33.33%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: #eee;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #eee;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
}

#progressbar li:first-child:after {
    content: none;
}

#progressbar li.active:before, #progressbar li.active:after {
    background: #592f83;
    color: #fff;
}

#progressbar li:hover, #progressbar li:focus, #progressbar li.active {
    color: #592f83;
}